*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
a:hover{
	text-decoration: none;
}
.header{
	height: auto;
	background: url(../img/bg.jpg) no-repeat;
	max-width: 1600px;
	margin: 0 auto;
	background-size: cover;
	position: relative;
}
.nav{
	max-width: 1600px;
	background-color: rgba(86,83,76,0.5);
	margin: 0 auto;
}

.menu li{
	display: inline-block;
	padding:22px 22px;
	font-family: 'Alegreya', serif;
	font-size: 15px;
	color: #fff;
}
.menu li a{
	color: #fff;
	text-transform: uppercase;
}
.menu li:last-child{
	margin-left: 100px;
	padding-right: 0;
}

li.soc_block{
	width: 125px;
}	
.soc{
	padding-right: 20px;
}
.title_block{
	color: #fff;
	padding-top: 200px;
	width: 800px;
	height: 800px;
	text-align: center;
	margin: auto;
	background: rgba(0,0,0,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(86,83,76,0.7) 0%, rgba(250,247,247,0) 73%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(86,83,76,0.7)), color-stop(73%, rgba(250,247,247,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(86,83,76,0.7) 0%, rgba(250,247,247,0) 73%);
	background: -o-radial-gradient(center, ellipse cover, rgba(86,83,76,0.7) 0%, rgba(250,247,247,0) 73%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(86,83,76,0.7) 0%, rgba(250,247,247,0) 73%);
	background: radial-gradient(ellipse at center, rgba(86,83,76,0.7) 0%, rgba(250,247,247,0) 73%);
}
.title{
	font-size: 92px;
	font-family: 'Playfair Display', serif;
}
.title_line{
	margin: 15px auto 40px;
}
.description{
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
}

.title_menu{
	background-color: rgba(86,83,76,0.7);
	width: 200px;
	height: 50px;
	color: #fff;
	margin-top: 50px;
	border: 1px dashed #fff;
}
.title_menu:hover{
	border: 1px solid #fff;
}
.title_bread{
	position: absolute;
	left: 47%;
    bottom: -61px;
    background: url(../img/bread.png);
    height: 113px;
    width: 113px;
    border-radius: 50%;
}

.art{
	max-width: 1600px;
	margin: 0 auto;
	background: url(../img/grey_bg.png);
}
.art_block{
	padding-top: 100px;
	max-width: 1260px;
	margin: 0 auto;
}
.art_title{
	font-size: 48px;
	font-family: 'Alegreya', serif;
	color: #56534c;
	text-align: center;
	margin-bottom: 60px;
}
.art_title p{
	font-size: 14px;
	color: #a47d5e;
	text-transform: uppercase;
}
.art-decription{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
}
.art_cook{
	margin: 40px auto;
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
}
.cook_block{
	margin: 0 auto;
	max-width: 380px;
	height: auto;
}
.cook_foto{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-image: url(../img/cook.jpg);
	margin: 0 25px;
}
.cook_name,
.cook_sername{
	margin-top: 15px;
	padding: 15px;
	border-bottom: 1px solid #d7d5ca;
	border-top: 1px solid #d7d5ca;
	font-size: 24px;
	text-align: center;
	width: 120px;
}
.cook_sign{
	width: 420px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.art_foto{
	margin:30px 5px 100px 10px;
}
.art_foto_small{
	display: none;
}