

@media (min-width: 1440px){
.container {
    width: 1260px;
}
}
/*-------1440px---------*/
@media (max-width: 1440px){
.menu li{
	
	padding:22px 17px;
}
.menu li:last-child{
	margin-left: 80px;
}
}
/*-------1200px---------*/
@media (max-width: 1200px){
.menu li{
	
	padding:22px 13px;
}
.menu li:last-child{
	margin-left: 40px;
}
.perfect{
	padding-top: 100px;
}
.carousel{
	margin: 0 auto 80px;
}
}
/*-------1024px---------*/
@media (max-width: 1024px){
	.menu li{
	
	padding:22px 10px;
}
.menu li:last-child{
	margin-left: 30px;
}
.header{
	max-height: 850px;
}
.title_block{
	padding-top: 150px;
	height: 700px;
	width: 700px;
}
.art_foto{
	margin:60px auto 100px ;
}
}
/*-------992px---------*/
@media (max-width: 992px){

.menu li{
	
	padding:22px 10px;
}
.menu li:last-child{
	margin-left: 10px;
}
li.nav_hidden{
	display: none;
}

.title_block{
	padding-top: 100px;
	
}
.title_bread{
	left: 45%;
}
.art_foto img{
	margin:0 auto ;
}
.carousel{
	margin:0 auto 55px;
    width: 780px;
    height: auto;
}
.catousel_title{
	margin-top: 40px;
	margin-bottom:40px; 
}
.ready{
	height: 100px;
	width: 100px;
	top: 7px;
	right: 20px;
}
.stars{
	margin-top: 15px;
	margin-bottom: 30px;
}
.carousel-indicators{
	left:80%;
	width: 320px;
	bottom: 10px;
}
.carousel-control.left{
	top: 78%;
    left:40%;
}
.carousel-control.right{
	top: 78%;
}
}
/*-------767px---------*/
@media (max-width: 767px){

.nav-logo{
	padding-left: 20px;
}
.navbar-toggle{
	color: #fff;
	font-size: 25px;
	padding: 10px;
}
.navbar-right{
	position: absolute;
		width: 100%;
	margin:auto;
	
}

.menu li{
	display: block;
	padding:10px;
	text-align: center;
	background-color: rgba(86,83,76,0.8);
}
.menu li:hover{
	background-color: rgba(86,83,76,1);
}

.menu li:last-child{
	width: 100%;
	margin-left: 0px;
}
li.nav_hidden{
	display: none;
}
.title_block{
	padding-top: 80px;
	height: 500px;
	width: 500px;
}
.title{
	font-size: 58px;
}

.title_line{
	margin: 10px auto 20px;
}
.title_bread{
	left: 43%;
}
.art_foto{
	margin-top: 0;
}
.carousel{
	width: 500px;
	margin: 0 auto; 
	background-color: rgba(255,255,255,0.98);
}
.carousel-img{
	width: 460px;
	margin: 0 auto; 
}
.carousel-indicators{
	left:45%;
}
.stars {
    margin-top: 15px;
    margin-bottom: 140px;
}
.carousel-control.left{
	top: 91%;
    left:0%;
}
.carousel-control.right{
	top: 91%;
}
.carousel-description{
	margin-left: 20px;
	
}
.perfect {
    padding-top: 50px;
}
}

/*-------480px---------*/
@media (max-width: 480px){
.header{
	height: 550px;
}
.title_block{
	padding-top: 70px;
	height: 300px;
	width: 300px;
}
.title{
	font-size: 40px;
}
.title_line{
	display: none;
}
.description{
	padding-top: 25px;
}
.title_bread{
	left: 33%;
}
.art_block{
	padding-top: 80px;
}
.art_title{
	margin-bottom: 40px;
}
.art_cook{
	margin: 30px auto;
}
.art_foto{
	display: none;
}
.art_foto_small{
	display: block;
	margin-bottom: 30px;
}
.art_foto_small img{
	
	margin: 0 auto;
}

.carousel{
	width: 320px;
	margin: 0 auto; 
	margin-bottom: 50px;
}

.carousel-indicators{
	left:29%;
}
.carousel-control.left,
.carousel-control.right{
	display: none;
}
.ready{
	display: none;
}
}
@media (max-width: 380px){
/*.cook_block{
	max-width: 300px;
}*/
.cook_foto{
	margin: 0 5px
}
.cook_name,
.cook_sername{
	width: 100px;
	padding: 10px;
}
.cook_sign{
	max-width: 300px;
}
}